<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Circuit Admin</title>
    <meta name="description", content="Circuit Admin">
    <meta name="keywords", content="Circuit Admin">
    <meta name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon", href="/favicon.ico", type="image/x-icon">
    <link rel="stylesheet", href="//g.alicdn.com/thx/cube/1.2.1/cube-min.css">
    <link rel="stylesheet", href="//g.alicdn.com/thx/brix/2.1.0/gallery/??tables/index-min.css,dropdown/index-min.css,calendar/index-min.css,pagination/index-min.css,dialog/index-min.css,tooltip/index-min.css,form/index-min.css">
    <link rel="stylesheet", href="{{cdn}}/style/main-min.css">
    <script src="//g.alicdn.com/kissy/k/1.4.2/seed-min.js"></script>
    <script src="//g.alicdn.com/thx/brix/2.1.0/brix-min.js", bx-config="{autoPagelet:true,componentsPath:'{{cdn}}/app/',debug:false}"></script>
    <script src="//g.alicdn.com/thx/magix/1.1/kissy-magix-mxext-min.js"></script>
    <script src="{{cdn}}/app/components/codeprettify/prettify-min.js"></script>
    <script src="{{cdn}}/app/components/editor/editor-min.js"></script>
    <script src="{{cdn}}/boot/index-min.js" boot-config="{debug:false, cdn:'{{cdn}}'}"></script>
  </head>
  <body></body>
</html>